<div>
  <h1> <%= @customer.name%> Show Page </h1>
  <h2> __Items__ </h2>
  <%= @customer.items.each do |item| %>
    <p> 
      Item Name: <%= item.name %>
      Item Price: <%= item.price %>
      Item Supermarket: <%= item.supermarket.name %> 
    </p>
  <% end %>

  <div id="add-item">
    <h2> Add another item for this customer: </h2>
    <%= form_with url: "/customers/#{@customer.id}", method: :get, local: true do |form| %>
      <h3> <%= form.label :item_id %> </h3> 
      <%= form.number_field :item_id %>
      <h4> <%= form.submit "Add Item" %> </h4>
    <% end %>
  </div>
</div>