<h1>Name: <%= @customer.name %></h1>

<h2>"Items:"</h2>

<% @items.each do |item| %>
<p><%= item.name %></p>
<p><%= item.price %></p>
<p><%= item.supermarket.name %></p>
<% end %>

<div>
  <h3>Add Items to Customer</h3>
    <%= form_with url: "/customers/#{@customer.id}", method: :post, local: true do |form| %>
      <div>
        <%= form.label :add_item, "Add Item" %>
        <%= form.text_field :add_item %>
        <%= form.submit "Submit" %>
      </div>
    <% end %>
</div>
